.last-spot-in-column {
  border-bottom: none;
}

.parking-button {
  transition: 0.2s all ease;
}

.parking-button:active {
  background-color: #000;
}

.parking-button:active .parking-button-text{
  color: #FFFBEB;
}

.car-image {
  transform: rotateZ(-90deg);
}

.reversed-car {
  transform: rotateZ(180deg);
}